<!DOCTYPE html>
<html lang="es">
  <head>
    <meta charset="UTF-8" />
    <title>Administrar Usuarios</title>
    <link th:href="@{/styles/administrador.css}" rel="stylesheet" />
  </head>
  <body>
    <div style="display: flex; justify-content: flex-end; padding: 8px">
      <button
        onclick="history.back()"
        style="
          background-color: #2c2929;
          color: white;
          border: none;
          padding: 6px 12px;
          border-radius: 4px;
          cursor: pointer;
          margin-right: 8px;
        "
      >
        Atras
      </button>
      <button
        onclick="onClickLoggout()"
        style="
          background-color: #c0392b;
          color: white;
          border: none;
          padding: 6px 12px;
          border-radius: 4px;
          cursor: pointer;
        "
      >
        Cerrar sesión
      </button>
    </div>
    <h1 id="id-title"></h1>
    <h2>Administrar Usuarios</h2>

    <h3>Crear nuevo usuario</h3>
    <div>
      <input type="text" id="nombre" placeholder="Nombre" />
      <input type="email" id="correo" placeholder="Correo" />
      <input type="password" id="password" placeholder="Contraseña" />
      <select id="rol">
        <option value="ADMIN">ADMIN</option>
        <option value="USER">USER</option>
      </select>
      <button id="btnCrear" onclick="onClikcCrearUser()">Crear Usuario</button>
      <div id="mensaje" class="alert" style="display: none"></div>
    </div>

    <h3>Usuarios existentes</h3>
    <table>
      <thead>
        <tr>
          <th>Nombre</th>
          <th>Correo</th>
          <th>Rol</th>
          <th>Opciones</th>
        </tr>
      </thead>
      <tbody id="tablaUsuarios">
        <!-- Se llenará dinámicamente -->
      </tbody>
    </table>


    <div id="passwordModal" class="modal">
      <div class="modal-content">
        <div class="modal-header">Actualizar Contraseña</div>
        <div class="modal-body">
          <input type="password" id="passwordOld" placeholder="Contraseña actual" required>
          <input type="password" id="passwordChange" placeholder="Nueva contraseña" required>
          <div id="responseMessage" style="color:red; font-size:14px;"></div>
        </div>
        <div class="modal-footer">
          <button class="cancel-btn" id="closeModalBtn" onclick="closeModalBtn()">Cancelar</button>
          <button class="update-btn" id="updatePasswordBtn">Actualizar</button>
        </div>
      </div>
    </div>

    <script th:src="@{/script/administrador.js}"></script>
  </body>
</html>
